.rowLine {
    position: relative;
    display: flex;
    min-height: 25px;
    margin-top: 3px;
}
.blockElement {
    position: relative;
    flex-grow: 1
}


.block {
    display: flex;
    min-height: 25px;
    position: relative;
    margin: 5px;
    padding: 5px;
    flex-grow: 1
}


.textarea {
    width: 100%;
    min-width: 50px;
    min-height: 20px;
    float: left;
    margin: 1px
}

.textarea {
    width: 100%;
    min-height: 20px;
    float: left;

    margin: 1px
}