#toggle_options{
    clear: both;
    float: right;
    font-size: 12px;
    position: relative;
    /*margin-top: 15px;*/
    /*margin-right: 5px;*/
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 9;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.new-settings-options {
    display: none;
    padding-bottom: 10px;
}

.new-settings-options label {
    margin-top: 13px;
}

.ace_editor.min_height_200 {
    min-height: 200px;
    width: 100%;
}
textarea {
    min-height: 120px;
}